/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2014, 10:11:42 PM
    Author     : DiepBuiHuu
*/

table.no-border td {
     border: none;
}

input.send_limit, input.sent_count, input.creative_ids{
    width: 50px;
    text-align: center;
}

input.end_date {
    text-align: center;
}

table.dTable td textarea {
    display: block;
    resize:none;
    width: 120px;
    height: 80px;
    margin-top: 10px;
}

table.dTable td {
    vertical-align: middle;
}

.update_button, .copy_button, .delete_button {
    margin-bottom: 10px;
    margin-top: 10px;
}

td.attrData input{
    width: 150px !important;
}

td.attrData .selector, td.attrData .selector span{
    width: 144px !important;
}

td.attrData .selector select {
    width: 154px !important;
}

.attrData .checker {
    position: relative;
    margin-right: 5px;
}

.add {
    margin-top:20px;
}

#add_campaign .attributes {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

#add_campaign div {
    margin-top: 5px;
}
#add_campaign_table td {
    vertical-align: middle;
    padding: 5px;
}
#add_campaign_table {
    margin-top: 20px;
    margin-bottom: 20px;
}