/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2014, 10:11:42 PM
    Author     : DiepBuiHuu
*/

table.campaigns_table th, table.campaigns_table td {
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    text-align: center;
    vertical-align: middle;
}
table.no-border td {
     border: none;
}

input.send_limit, input.sent_count, input.creative_ids{
    width: 50px;
}

table.dTable td textarea {
    width: 80px;
    height: 30px;
}

.update_button, .copy_button, .delete_button {
    margin-bottom: 10px;
    margin-top: 10px;
}