/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 15, 2014, 7:33:31 PM
    Author     : DiepBuiHuu
*/

.class {
    width: 100px;
}
.category_id {
    width: 50px;
}
.sender_id {
    width: 50px;
}
.name, .from, .subject {
    height: 100px;
    width: 100px;
}
.html_body, .text_body {
    height: 100px;
    width: 100px;
    display: none;
}
.hide {
    display: none;
}
.creative_row td {
    vertical-align: middle;
    text-align: center;
}

.creative_row td input, .creative_row td input{
    text-align: center;
}

.creative_row textarea {
    resize:none;
}

.add {
    margin-top:20px;
}

#add_creative div {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}