/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2014, 10:11:42 PM
    Author     : DiepBuiHuu
*/

table.log_table th, table.log_table td, table.log_table button {
    text-align: center;
    vertical-align: middle;
}
table.no-border td {
     border: none;
     text-align: left;
}

table.log_table td.leads {
    text-align: left;
}

.hide {
    display: none;
}
.attributes table, .show_hide {
    display: none;
}

.filter_bar_element {
    float: left;
    vertical-align: middle;
}
.filter_bar {
    margin-top: 20px;
}
.page_number.current {
    background-color: #2e6e9e;
}
button {
    cursor: pointer;
}
.filter_bar {
    display: inline-block;
}
.filter_bar .from_date, .filter_bar .to_date, .filter_bar .update_table {
    margin-top:18px;
    margin-left:30px;
}

.filter_bar #from_date, .filter_bar #to_date{
    height:24px;
}

.paging_bar {
    float: right;
    margin-top: 2px;
}
td.attrData input{
    width: 150px !important;
}

td.attrData .selector, td.attrData .selector span{
    width: 144px !important;
}

td.attrData .selector select {
    width: 154px !important;
}